.container {
   display: flex;
   justify-content: space-around;
}

/* Add global styles or styles for the navigation bar here */
nav {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

button {
    padding: 4px 10px;
    font-size: 14px;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    &.active {
        background-color: #9bc8f7;
        border-bottom: 2px solid black;
    }
    &:hover {
        background-color: #83baf4;
    }
}