<div class="container">
    <h1>GenLV 02</h1>
    <form (ngSubmit)="generateResult()"
          #form="ngForm">
        <ng-container *ngFor="let vector of inputVectors; let i = index">
            <label>Vector {{i}}:
                <input required
                       name="inputVector{{i}}"
                       [(ngModel)]="inputVectors[i]" /></label>
        </ng-container>
        {{inputVectors[0]}} |||||| {{inputVectors[1]}}
        <button type="button"
                (click)="addVector()">Add Vector</button>
        <label>Signature Vector:
            <input required
                   name="signatureVector"
                   [(ngModel)]="signatureVector" /></label>
        <!-- <label>
            Merged Inputs (comma-separated indices):
            <input name="mergedInputs"
                   [(ngModel)]="mergedInputs"
                   placeholder="Enter indices e.g. 2,3" />
        </label> -->
        <button type="submit">Generate</button>
    </form>
    <h2>Result</h2>
    <p>{{ resultString }}</p>
    <!-- <table *ngIf="resultString">
        <tr>
            <th>L</th>
            <th></th>
            <th *ngFor="let row of rowHeaders">{{ row }}</th>
        </tr>
        <tr>
            <th></th>
            <th>{{ signatureVector }}</th>
            <th *ngFor="let col of inputVector2.split('')">{{ col }}</th>
        </tr>
        <tr *ngFor="let row of resultMatrix; let i = index">
            <td style="font-weight: 600;">{{ colHeaders[i] }}</td>
            <td style="font-weight: 600;">{{ inputVector1[i] }}</td>
            <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
    </table> -->
</div>